* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    display: none;
}

.container{
    position: relative;
    width: 1000px;
    height: 600px;
    display: flex;
    justify-content: center;
}

.leaderboard{
    width: fit-content;
    height: 100%;
    padding: 10px;
    background-color: rgb(74, 74, 74);
    color: white;
}

.canvas-side{
    position: relative;
}

.topbar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

