* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

img{
    display: none;
}

.container{
    position: relative;
    width: 1000px;
    height: 600px;
    display: flex;
    justify-content: center;
}

.leaderboard{
    width: fit-content;
    height: 100%;
    padding: 10px;
    background-color: rgb(19, 19, 19);
    color: white;
}

.canvas-side{
    position: relative;
}

.topbar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

select[name="sort"]{
    margin-bottom: 20px;
}

ul {
    list-style-type: none;

}

li{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    margin-bottom: 10px;

    button{
        background-color: yellow;
        padding: 5px 15px;
        border: none;
        font-weight: bold;
    }
}

